@font-face{

    font-family: 'Rubik';
    src: url('../Style/Font/Rubik/Rubik-Regular.ttf') format("truetype");
}
@font-face{

    font-family: 'Rubik';
    src: url('../Style/Font/Montserrat/Montserrat-Regular.otf') format("opentype");
}
span{
    font-family: Rubik;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
a
{
    text-decoration: none;
}
body{
    margin: 0;

}
header
{
    background: #F7F7F7;
}
/*Блок логотипа */
.logo{
    position: relative;
    max-width: 300px;
    bottom: 5px;
    padding-left: 0;
}
.tophead
{
    margin:0% auto 1.3% auto;
    padding-top: 0.5%;
}
/*Текст логотипа */
.logotext{
    position: relative;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #36424F;
    width: 100%;

}
.logsam
{
    display: block;
    padding-top: 10px;
    padding-left: 5px;
}
/*Изображение логотипа*/
.logoimage{
    float: left;
    position: relative;
    border-radius: 32px;
    padding-right: 10px;
    float: left;
}
.mainclock
{
    max-width: 200px;
    margin-top: 13px;

}
/*Картинка времени работы*/
.clock{
    position: relative;
    float: left;
}
/*Текст времени работы*/
.clocktext{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.headinfo
{
    padding-right: 0px;
}
/*Блок меню*/
.menu{
    background: #03499E;
    text-align: center;

    margin-bottom: 1%;
    opacity: 0.99;
}
.menuitem{

    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
}

/*Текст блоков шапки*/
.samtc{
    display: block;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
/* Блок кнопки*/
.but{
    cursor: pointer;
    background: #FFDA50;
    border-radius: 5px;
    text-align: center;
    max-width: 170px;
    max-height: 48px;

}
.but:hover{
    box-shadow: 0px 5px 15px rgba(0, 5, 65, 0.1);
}
.but:active{
    background: #FFC900;
}
.butimg
{

}

.submenu
{
    overflow: visible;
    display: none;
}
.submenu a
{
    color: black;
}

.list > li
{

    position: relative;
}

.list li:hover .submenu
{
    display: block;
}
.flex
{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
/*Текст кнопки*/
.Buttext{
    display: inline-block;
    padding-top: 10%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

}
.search
{
    width: 100%;
    z-index: 99;
    min-height: 60px;
    display:none;
}
.searchfield
{
    float: right;
    background: #FFFFFF;
    opacity: 0.1;
    border-radius: 5px;
    min-height: 60px;
    margin: 5px 0 5px 0;

}
/*Текст меню*/
.menutext{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: white;
    min-height: 60px;
    padding-top: 15px;
}
.submenu {
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    width: 425px;
    z-index: 99;
    background: #F7F7F7;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.submenu li
{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #36424F;
}
.coll-1{
    position: relative;
    width: 100%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}
.coll-1:first-child{
    padding-right: 15px ;
}
.coll-2{
    position: relative;
    width: 100%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}
.find{
    cursor: pointer;
    padding-top: 1%;
    text-align: center;
    background: #129FDF;
    border-radius: 5px;
}
.find span{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.find:hover{
    box-shadow: 0px 5px 15px rgba(0, 5, 65, 0.1);
}
.find:active{
    background: #0084BF;
}

.filter{
    min-height: 60px;
}
.inp{
    height: 100%;
    width: 100%;
    border: none;
}
.inp::-webkit-input-placeholder{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #36424F;
    vertical-align: bottom;
}
/*Надпись в input*/
.label{
    position: absolute;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #B5BDCA;
    line-height: 20px;
}
.label:nth-child(1){
    top: 5%;
}
.label:nth-child(2)
{

}
.list
{
    width: 100%;
}

/*Ссылки на телефон*/
.tel
{
    text-decoration: none;
    color: black;
}

.menuitem:hover
{
    background: #003576;
}
.menuitem:active, .menutext:active .menuitem
{
    background: #F7F7F7;
}
.menuitem:active .menutext, .menutext:active
{
    color: #129FDF;
}


/*Title*/
.HeadingTitlePost{
    margin: 100px 0 50px 0;
}
.HeadingTitlePost span:nth-child(1){
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #36424F;
    display: block;
    padding-bottom:10px;
}
.HeadingTitlePost span:nth-child(2){
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #03499E;
    display: block;
}
.HeadingTitleNavigation{
    margin-bottom: 50px;
    align-self: flex-end;
    text-align-last: end;
}
.HeadingTitleNavigation img  {
    padding-left: 35px;
    padding-bottom: 7px;
    margin-right: -1px;
}

/*Раздел Наши туры*/
.OurTours{
    width: 100%;
    background-color: #f7f7f7;
    padding-bottom: 100px;
}

/*Слайдер Наши туры*/
.TabSwiper{
    padding: 0 0 20px 0;
    }
.swiper-container {
    /*padding-top: 50px;*/
    text-align: -webkit-center;
    width: 100%;
    height: 150px;
    /*padding-left: 30px;*/
    /*padding-bottom: 3px;*/
}

.swiper-container:after,.swiper-container:before,.TabHotSeasonShadow:before,.TabHotSeasonShadow:after,.Recommendation:before,.Recommendation:after{
    content: "";
    position: absolute;
    height: 130px;
    width: 195px;
    z-index:100;
}
.swiper-container:before{
    left: 0;
    background-image: linear-gradient(to left, rgba(247, 247, 247, 0) 0%, #F7F7F7 100%);
}
.swiper-container:after{
    top:0;
    right: 0;
    background-image: linear-gradient(to right, rgba(247, 247, 247, 0) 0%, #F7F7F7 100%);
}

.swiper-wrapper{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.swiper-slide {
    border-radius: 5px;
    background: #fefefe ;
    max-height: 130px;
    max-width: 265px;
    text-align: center;
    font-size: 18px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index:1;
}
.swiper-slide h3,.swiper-slide span{
    font-style: normal;
    display: block;
}
.swiper-slide h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #129FDF;
    margin: 26px 0 6px 0;

}
.swiper-slide span{
    padding: 0 15px 0 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #36424F;
}
.swiper-slide:hover{
    box-shadow: 0px 5px 15px rgba(0, 5, 65, 0.1);
    z-index: 22;
}
.active{
    background: #129FDF;
    opacity: 0.99;
    box-shadow: 0px 5px 15px rgba(0, 5, 65, 0.1);
    border-radius: 5px;
    z-index: 21;
}
.swiper-slide.active h3, .swiper-slide.active span  {
    color: white;
}

/*Раздел с турами */
.ViewOurTurs{
    max-width: 370px;
    width: 370px;
    height: 270px;
    -o-background-size: 10px;
    background: linear-gradient(to top, #002D64 0%, rgba(0, 45, 100, 0) 50%), linear-gradient(to bottom, #002D64 0%, rgba(0, 45, 100, 0) 26%), url(../Img/TuorsImg/1.png) no-repeat, no-repeat, no-repeat center, center, center;
    border-radius: 5px;
    margin: 0 15px 30px 15px ;
    padding: 0;
}
.ViewOurTurs img{
    padding-left: 30px;
}
.ViewOurTurs span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-left: 6px;
    position: absolute;
    padding-top: 19px;
    color: #FFFFFF;
}
.ViewOurTurs h3,h4{
    font-family: Rubik;
    font-style: normal;
    color: #FFFFFF;
    padding-left: 30px;
}
.ViewOurTurs h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding-top: 126px;
    margin-bottom: 1px;
}
.ViewOurTurs h4{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}

.OurBottom h3{
    font-family: Rubik;
    height: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #36424F;
    padding-top:8px;
}
.OurBottom span{
    color: #129fdf;
}
.OurButtom {
    width: 185px;
    height: 47px;
    background: #129FDF;
}
.TourMore{
    text-align: center;
    padding-top: 10px;
}
.TourButtonMore{
    height: 47px;
    cursor: pointer;
    background: #129FDF;
    border-radius: 5px;
    margin-left: 93px;
    margin-right: 92px;
}
.TourButtonMore > .col{
    max-width: 120px;
    padding-top: 13px;
    margin-left: 19px;
}
.TourButtonMore > .col-1{
    padding-top: 17px;
}
.TourButtonMore span{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #FFFFFF;
}

/*HotSeason*/
.TabHotSeason{
    padding-bottom: 29px;
}
.Recommendation{
    padding-bottom: 99px;
}
.TabHotSeasonShadow:before,.Recommendation:before{
    left: 0;
    height: 305px;
    background-image: linear-gradient(to left, rgba(247, 247, 247, 0) 0%, #FFFFFF 100%);

}
.TabHotSeasonShadow:after,.Recommendation:after{
    right: 0;
    height: 305px;
    background-image: linear-gradient(to right, rgba(247, 247, 247, 0) 0%, #FFFFFF 100%);
    transform: translateY(-305px);
}

.TabHotSeason>.col-4:last-child,.Recommendation>.col-4:last-child{
    padding-right: 0;
}
.TabHotSeason>.col-4,.Recommendation>.col-4{
    max-height: 276px;
    max-width: 370px;
    padding-right: 30px;
}
.TabHotSeason>.col-4 img,.Recommendation>.col-4 img{
    border-radius: 5px;
}
.TabHotSeason>.col-4 a,.Recommendation>.col-4 a{
    display: block;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-top: 12px;
    line-height: 28px;
    color: #B5BDCA;
    text-decoration: none; /* Убираем подчеркивание */
}
.TabHotSeason>.col-4 span,.Recommendation>.col-4 span{
    border-bottom: 1px dashed rgba(181, 189, 202, 0.5)  ;
}
.TabHotSeason>.col-4 h3,.Recommendation>.col-4 h3{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #129FDF;
    margin-top: 6px;
}

.Subscription{

    height: 357px;
    background: linear-gradient(to bottom, #002D64 0%, rgba(0, 45, 100, 0.4) 33.71%, rgba(0, 45, 100, 0) 53.5%),
    linear-gradient(to top, #002D64 0%, rgba(0, 45, 100, 0.4) 17.65%, rgba(0, 45, 100, 0) 28.01%),
    linear-gradient(to right, #002D64 0%, rgba(0, 45, 100, 0.4) 40.05%, rgba(0, 45, 100, 0) 63.56%),
    url("../Img/Other/Subscription.png") no-repeat, no-repeat, no-repeat,no-repeat center, center, center,  center ;
    /*opacity: 0.2;*/
    border-radius: 5px 5px 0 0;
}
.Subscription>.row>.col-xl-6 h1{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 101px;
    margin-bottom: 0;
}
.Subscription>.row>.col-xl-6 h3{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 9px;
    margin-bottom: 25px;
}

.SubscriptionEmail input{
    height: 66px;
    border-radius: 5px;
}
.Subscription span{
    position: absolute;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #B5BDCA;
    padding-top: 12px;
    padding-left: 20px;
}
.Subscription input{
    font-family: Rubik;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #B5BDCA;

    padding-left: 19px;
    padding-top: 26px;
}






