
body{
    margin: 0px;
}

/*Блок логотипа */
.logo{
    position: relative;

}
/*Текст логотипа */
.logotext{
    position: relative;


    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #36424F;
    width: 100%;
    padding-left: 70px;
}
/*Изображение логотипа*/
.logoimage{
    position: relative;
    border-radius: 32px;
    float: left;
}
/*Картинка времени работы*/
.clock{
    position: relative;
    float: left;
}
/*Текст времени работы*/
.clocktext{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
/*Блок меню*/
.menu{
    background: #03499E;

}

.samtc{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.but{
    cursor: pointer;
    background: #FFDA50;
    border-radius: 5px;
    text-align: center;
    max-width: 170px;

}
.but:hover{
    box-shadow: 0px 5px 15px rgba(0, 5, 65, 0.1);
}
.but:active{
    background: #FFC900;
}
.Buttext{
    display: inline-block;
    padding-top: 10%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin:2%;
}
.menutext{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: white;
}


/*Раздел Наши туры*/
.OurTours{
    width: 100%;
    background-color: #f7f7f7;
}
.HeadingOurTours{
    margin-top: 100px;
}
.HeadingOurTours H3{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #36424F;
}
.HeadingOurTours H2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #03499E;
    margin-bottom: 0px;
}
.HeadingOurToursNavigation{
    align-self: flex-end;
    text-align-last: end;
}
.HeadingOurToursNavigation img  {
    padding-left: 40px;
    padding-bottom: 8px;
}

.OurToursSwiper{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
}
.swiper-container {
    /*padding-top: 50px;*/

    width: 100%;
    height: 130px;
}
.FirstSlide{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.swiper-slide {
    border-radius: 5px;
    background: #fefefe ;
    max-height: 130px;
    max-width: 265px;
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide H3{
    word-break: break-word;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #129FDF;
}
.swiper-slide H4{
    white-space: pre-wrap;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #36424F;
}